<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="mt-3 mb-3">

    <h5 class="text-center">Datos de contacto:</h5>
  </div>

  <ion-card class="d-flex ion-align-items-center flex-column">
    <img class="w-50" src="../../assets/img/profile.jpg" alt="Foto del creador">
    <ion-card-header>
      <ion-card-title>Datos de contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Num Cel. 809-458-1248</p>
      <p>Num Tel. 809-7455-742</p>
      <p><a href="https://github.com/LNagad">Github</a></p>
      <a href="https://www.linkedin.com/in/maycol-daniel-perez-ciprian-985944226/">Linkldn</a>
    </ion-card-content>
  </ion-card>
</ion-content>
