<ion-header>
  <ion-toolbar>
    <ion-title>Universidades</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item class="mb-3">
    <h5>Buscador de universidad en ingles</h5>
  </ion-item>
  <ion-item>
    <ion-label position="floating">País en inglés</ion-label>
    <ion-input [(ngModel)]="countryName"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="searchUniversities()">Buscar</ion-button>
  <ion-list *ngIf="universities">
    <ion-item *ngFor="let university of universities">
      <ion-label>{{ university.name }}</ion-label>
      <ion-note slot="end">{{ university.domains[0] }}</ion-note>
      <ion-button slot="end" fill="clear" [href]="university.web_pages[0]">Sitio web</ion-button>
    </ion-item>
  </ion-list>
</ion-content>